* {
  margin: 0;
  padding: 0;
}

.b4 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 80px;
}

.particles {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100%;
  z-index: -1;
}
